:root {
    --sidebar-bg-color: #d1c4e9
        /*--sidebar-item-hover: #
    --sidebar-bg-color: #d1c4e9*/

}

.sidebar {
    color: white;
    background-color: var(--sidebar-bg-color);

    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    
    transition: 0.3 ease;

    display: flex;
    flex-direction: column;
}